*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    /* background:#fbc8da; */
    color:#333;
}

body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    display:flex;
    height:100vh;
}

/* LEFT */

.event-section{
    width:70%;
    overflow-y:auto;
    padding:60px;
}

.hero-image{
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom:20px;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.event-content h1{
    font-size:3rem;
    margin-bottom:10px;
    margin-top:20px;
    font-family: 'Playfair Display', serif;
    text-align:center;
}


.welcome-text{
    font-size:1.3rem;
    line-height:1.8;
    margin-bottom:40px;
    font-family: "Cause", cursive;
    text-align:center;
}

/* .event-card{
    background: rgba(255, 255, 255, 0.75);
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 8px 18px rgba(0,0,0,.05);
    backdrop-filter: blur(6px);
} */

.scan-image{
    width: fit-content;
    margin: 40px auto;
    padding: 15px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transform: rotate(-2deg);
}

.scan-image img{
    width: 400px;
    display: block;
    border-radius: 8px;
}

.scan-caption{
    margin-top: 12px;
    text-align: center;
    font-style: italic;
    color: #666;
}

.event-card{
    background: rgba(251, 200, 218, 0.6);
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.05);
}

.event-card{
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.event-card h3{
    margin-bottom:10px;
    
}

.event-card p{
    font-size:1.1rem;
}

/* RIGHT */

.rsvp-section{
    width:30%;
    background:#fbc8da;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
    box-shadow:-8px 0 20px rgba(0,0,0,.05);
}

.rsvp-card{
    width:100%;
}

.bowgif img{
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
    margin-top: -35px;
}

.rsvp-card h2{
    font-size:2rem;
    margin-bottom:10px;
    margin-top:-50px;
    font-family: 'Playfair Display', serif;
}

.rsvp-card p{
    margin-bottom:20px;
    color:#666;
    font-family: "Cause", cursive;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:500;
    font-family: "Cause", cursive;
}

.input-group input{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:1rem;
}

.radio-group{
    margin:30px 0;
}

.radio-group>label{
    display:block;
    margin-bottom:15px;
    font-weight:500;
    font-family: "Cause", cursive;
}

.radio-option{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
    
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#c99d74;
    color:white;
    font-size:1rem;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#b6895e;
}

/* Chrome, Edge, Safari */
/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c99d74;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b6895e;
} */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #c99d74;
    border-radius: 100px;
    border: 2px solid #fff;
}